@tailwind base;
@tailwind components;
@tailwind utilities;

/* devanagari */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2") format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/pxiEyp8kv8JHgFVrJJbecmNE.woff2") format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/pxiEyp8kv8JHgFVrJJnecmNE.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2") format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2") format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2") format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background: #141b2d;
}
@layer components {
    .custom-input {
        @apply outline-none block w-[250px] rounded-md border-0 py-1.5 px-3 ring-1 ring-inset text-white bg-[#141b2d] ring-gray-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#94e2cd] sm:text-sm sm:leading-6;
    }
    .custom-button {
        @apply flex w-full justify-center rounded-md bg-[#3da58a] px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-[#4cceac] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    .stripped-table tbody tr:nth-child(even) {
        @apply bg-[#1f2a40];
    }
    .stripped-table tbody tr:nth-child(odd) {
        @apply bg-[#141b2d];
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main-layout {
    background-color: #141b2d;
}
.main-section {
    height: calc(100vh - 64px);
    width: calc(100vw - 255px);
}
.workers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 15px;
}
.btn {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.del-btn {
    color: #ff5744;
}
.view-btn {
    color: #59ecc5;
}

.ant-table {
    background-color: #1f2a40 !important;
    color: #fff !important;
}
.ant-picker-panel {
    background-color: #1f2a40 !important;
}
.ant-picker-cell-inner,
.ant-picker-month-btn,
.ant-picker-year-btn,
.ant-picker-content th,
.ant-picker-super-next-icon,
.ant-picker-header-next-btn,
.ant-picker-header-prev-btn,
.ant-picker-super-prev-icon,
.ant-picker-decade-btn,
.ant-select-selection-item,
.ant-select-arrow,
.ant-select-item-option-content,
.ant-modal-close-icon {
    color: #ffffffe0 !important;
}
.ant-picker-input input,
.ant-select-selector,
.ant-select-dropdown,
.ant-popover-content,
.ant-popover .ant-popover-inner {
    background: #141b2d !important;
    color: #ffffffe0 !important;
}
.ant-popover .ant-popover-inner {
    border: 2px solid #94e2cd;
}
.ant-picker,
.ant-picker-clear {
    background: #141b2d !important;
}
.ant-picker-input input::placeholder {
    color: #ffffff70 !important;
}
.ant-picker-suffix,
.ant-picker-clear,
.anticon-swap-right {
    color: #ffffffe0 !important;
}
.ant-select-item-option-selected {
    background: #70d8bd40 !important;
}
.ant-select-item-option:not(:first-child) {
    margin-top: 5px !important;
}
.ant-select-item-option:hover,
.ant-picker-cell:hover {
    background: #70d8bd20 !important;
}
.ant-tag.ant-tag-green {
    background: none !important;
    color: #94e2cd;
    border-color: #94e2cd;
}
.ant-tag.ant-tag-red {
    background: none !important;
    color: #ff8080;
    border-color: #ff8080;
}
.ant-btn-primary.ant-btn-sm {
    background: #70d8bd !important;
}
.ant-dropdown-menu {
    background: #141b2d !important;
    border: 1px solid #3da58a;
}
.ant-dropdown-menu a {
    color: #fff !important;
    font-size: 17px;
}
.ant-dropdown-menu-item:hover {
    background: #3da58a40 !important;
}
